/*--------------------General stuff---------------------*/

.FlexCenter {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------------------App------------------------- */

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

/*------------------------Header------------------------*/

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
  position: fixed;
}

.LogoutButtonContainer {
  height: 100%;
  width: 100px;
}

.AvatarHeaderContainer {
  height: 100%;
  width: 70px;
  border: 1px solid pink;
}

.AvatarHeader {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  border: none;
  transition: border 0.3s;
}

.AvatarHeader:hover {
  cursor: pointer;
  border: 5px solid rgba(255, 255, 255, 0.582);
}

/*--------------------AccountModal----------------------*/

.AccountModalContainer {
  height: 500px;
  width: 300px;
  border: 1px solid black;
  position: fixed;
  right: 0;
  top: 70px;
}

.AvatarModalContainer {
  height: 300px;
  width: 100%;
  border: 1px solid green;
}

.AvatarModal {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

/*-----------------------Account-------------------------*/

.AccountContainer {
  top: 70px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.AvatarColumnContainer {
  height: 100%;
  width: 30%;
  border-right: 1px solid black;
}

.AvatarAccount {
  height: 200px;
  width: 200px;
}

/* -----------------------Login------------------------ */

.LoginContainer {
  height: 400px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
}

/*----------------------Registration---------------------*/
.RegistrationContainer {
  height: 600px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
}
